layout {
    cwd "~"
    tab name="compose" focus=true hide_floating_panes=true {
        pane size="50%" split_direction="vertical" {
            pane cwd="ahg/compose" focus=true size="50%"
            pane cwd="ahg/compose" size="50%"
        }
        pane size="50%" split_direction="vertical" {
            pane cwd="ahg/compose" size="50%"
            pane cwd="ahg/compose" size="50%"
        }
        pane size=1 borderless=true {
            plugin location="zellij:zjstatus"
        }
    }
    tab name="prdbook" hide_floating_panes=true {
        pane split_direction="vertical" {
            pane command="nvim" cwd="prdbook" size="65%" {
                start_suspended true
            }
            pane command="pi" cwd="prdbook" size="35%" {
                start_suspended true
            }
        }
        pane size=1 borderless=true {
            plugin location="zellij:zjstatus"
        }
    }
    new_tab_template {
        pane cwd="~"
        pane size=1 borderless=true {
            plugin location="zellij:zjstatus"
        }
    }
}

