layout {
    cwd "~"
    tab name="compose" focus=true hide_floating_panes=true {
        pane size="50%" split_direction="vertical" {
            pane cwd="ahg/compose" focus=true size="50%"
            pane cwd="ahg/compose" size="50%"
        }
        pane size="50%" split_direction="vertical" {
            pane cwd="ahg/compose" size="50%"
            pane cwd="ahg/compose" size="50%"
        }
        pane size=1 borderless=true {
            plugin location="file:~/.config/zellij/plugins/zjstatus.wasm" {
                border_enabled "true"
                color_base "#232136"
                color_foam "#9ccfd8"
                color_gold "#f6c177"
                color_love "#eb6f92"
                color_muted "#6e6a86"
                color_pine "#3e8fb0"
                color_rose "#ea9a97"
                color_subtle "#908caa"
                color_text "#e0def4"
                format_center "#[fg=$text] {tabs}"
                format_hide_on_overlength "true"
                format_left "#[fg=$text] {session} {mode}"
                format_precedence "lrc"
                format_right ""
                format_space "#[fg=$text]"
                hide_frame_for_single_pane "false"
                mode_enter_search "#[fg=$love,bold] ENT-SEARCH "
                mode_locked "#[fg=$muted] LOCKED "
                mode_move "#[fg=$gold,bold] MOVE "
                mode_normal "#[fg=$text] NORMAL "
                mode_pane "#[fg=$pine,bold] PANE "
                mode_prompt "#[fg=$love,bold] PROMPT "
                mode_rename_pane "#[fg=$gold,bold] RENAME PANE "
                mode_rename_tab "#[fg=$gold,bold] RENAME TAB "
                mode_resize "#[fg=$gold,bold] RESIZE "
                mode_scroll "#[fg=$love,bold] SCROLL "
                mode_search "#[fg=$love,bold] SEARCH "
                mode_session "#[fg=$love,bold] SESSION "
                mode_tab "#[fg=$rose,bold] TAB "
                tab_active "#[fg=$text,bold] {name} #[]"
                tab_active_fullscreen "#[fg=$text,bold] {name} #[]"
                tab_active_sync "#[fg=$text,bold] {name} #[]"
                tab_normal "#[fg=$subtle] {name} #[]"
                tab_normal_fullscreen "#[fg=$subtle] {name} #[]"
                tab_normal_sync "#[fg=$subtle] {name} #[]"
                tab_separator "|"
            }
        }
    }
    tab name="prdbook" hide_floating_panes=true {
        pane split_direction="vertical" {
            pane command="nvim" cwd="prdbook" size="65%" {
                start_suspended true
            }
            pane command="pi" cwd="prdbook" size="35%" {
                start_suspended true
            }
        }
        pane size=1 borderless=true {
            plugin location="file:~/.config/zellij/plugins/zjstatus.wasm" {
                border_enabled "true"
                color_base "#232136"
                color_foam "#9ccfd8"
                color_gold "#f6c177"
                color_love "#eb6f92"
                color_muted "#6e6a86"
                color_pine "#3e8fb0"
                color_rose "#ea9a97"
                color_subtle "#908caa"
                color_text "#e0def4"
                format_center "#[fg=$text] {tabs}"
                format_hide_on_overlength "true"
                format_left "#[fg=$text] {session} {mode}"
                format_precedence "lrc"
                format_right ""
                format_space "#[fg=$text]"
                hide_frame_for_single_pane "false"
                mode_enter_search "#[fg=$love,bold] ENT-SEARCH "
                mode_locked "#[fg=$muted] LOCKED "
                mode_move "#[fg=$gold,bold] MOVE "
                mode_normal "#[fg=$text] NORMAL "
                mode_pane "#[fg=$pine,bold] PANE "
                mode_prompt "#[fg=$love,bold] PROMPT "
                mode_rename_pane "#[fg=$gold,bold] RENAME PANE "
                mode_rename_tab "#[fg=$gold,bold] RENAME TAB "
                mode_resize "#[fg=$gold,bold] RESIZE "
                mode_scroll "#[fg=$love,bold] SCROLL "
                mode_search "#[fg=$love,bold] SEARCH "
                mode_session "#[fg=$love,bold] SESSION "
                mode_tab "#[fg=$rose,bold] TAB "
                tab_active "#[fg=$text,bold] {name} #[]"
                tab_active_fullscreen "#[fg=$text,bold] {name} #[]"
                tab_active_sync "#[fg=$text,bold] {name} #[]"
                tab_normal "#[fg=$subtle] {name} #[]"
                tab_normal_fullscreen "#[fg=$subtle] {name} #[]"
                tab_normal_sync "#[fg=$subtle] {name} #[]"
                tab_separator "|"
            }
        }
    }
    new_tab_template {
        pane cwd="~"
        pane size=1 borderless=true {
            plugin location="file:~/.config/zellij/plugins/zjstatus.wasm" {
                border_enabled "true"
                color_base "#232136"
                color_foam "#9ccfd8"
                color_gold "#f6c177"
                color_love "#eb6f92"
                color_muted "#6e6a86"
                color_pine "#3e8fb0"
                color_rose "#ea9a97"
                color_subtle "#908caa"
                color_text "#e0def4"
                format_center "#[fg=$text] {tabs}"
                format_hide_on_overlength "true"
                format_left "#[fg=$text] {session} {mode}"
                format_precedence "lrc"
                format_right ""
                format_space "#[fg=$text]"
                hide_frame_for_single_pane "false"
                mode_enter_search "#[fg=$love,bold] ENT-SEARCH "
                mode_locked "#[fg=$muted] LOCKED "
                mode_move "#[fg=$gold,bold] MOVE "
                mode_normal "#[fg=$text] NORMAL "
                mode_pane "#[fg=$pine,bold] PANE "
                mode_prompt "#[fg=$love,bold] PROMPT "
                mode_rename_pane "#[fg=$gold,bold] RENAME PANE "
                mode_rename_tab "#[fg=$gold,bold] RENAME TAB "
                mode_resize "#[fg=$gold,bold] RESIZE "
                mode_scroll "#[fg=$love,bold] SCROLL "
                mode_search "#[fg=$love,bold] SEARCH "
                mode_session "#[fg=$love,bold] SESSION "
                mode_tab "#[fg=$rose,bold] TAB "
                tab_active "#[fg=$text,bold] {name} #[]"
                tab_active_fullscreen "#[fg=$text,bold] {name} #[]"
                tab_active_sync "#[fg=$text,bold] {name} #[]"
                tab_normal "#[fg=$subtle] {name} #[]"
                tab_normal_fullscreen "#[fg=$subtle] {name} #[]"
                tab_normal_sync "#[fg=$subtle] {name} #[]"
                tab_separator "|"
            }
        }
    }
}

